/*=====
Variables
=====*/
:root {
  // fonts
  // english font
  --english-font-family: 'Work Sans', sans-serif;

  // colors
  --main-color: #004274;
  --dark-color: #000;
  --white-color: #fff;
  --secondary-color: #7A7A7A;
  --info-color: #00aeef;
  --success-color: #34B53A;
  --warning-color: #FF8F00;
  --danger-color: #E83274;
}